body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

main {
    flex: 1 0 auto;
    padding: 20px;
}

.login-box {
    height: 100%;
}

.invalid {
    color: red;
}

.dropdown-content {
    max-height: 350px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
}

/*----------------------*/
/*   Sorting table      */
/*----------------------*/
.tablesorter-headerAsc {
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
    background-image: url('../img/expand_less-24px.svg');
}

.tablesorter-headerDesc {
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
    background-image: url('../img/expand_more-24px.svg');
}

.tablesorter-headerUnSorted {
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
    background-image: url('../img/unfold_more-24px_black.svg');
}

.sorter-false {
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
    background-image: url('');
}
table.responsive-table th {
    text-align: left;
}