
@{
    ViewBag.Title = "Modify User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Profile/Index");
    }
}

@section stylesheet
{
    <link rel="stylesheet" href="~/Static/css/sidenavfixed.css" />
}

@section header {
    @{Html.RenderPartial("_NavBar");}
}

@section sidenav {
    @{Html.RenderPartial("_SideNav");}
}

@using (Html.BeginForm("ModifyUserDatabase", "SystemSetup", FormMethod.Post))
{
    <div class="row">
        <div class="col s12">
            <div class="input-field col col s4 offset-s4">
                <select name="selectUser" class="wrapper">
                    <option selected value="@Model.userID">@Model.username</option>
                </select>
                <label>Role</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="input-field col col s4 offset-s4">
                <select name="selectRole" class="wrapper">
                    <option value="" disabled selected>Choose your option</option>
                    @foreach (var role in Model?.roleList)
                    {
                        <option value="@role.roleID">@role.roleName</option>
                    }
                </select>
                <label>Role</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="input-field col col s4 offset-s4">
                <select name="selectStatus">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Y</option>
                    <option value="2">N</option>
                </select>
                <label>Status</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="col s2 offset-s4">
                <button class="btn waves-effect waves-light" onclick="return confirm('Are you sure you want to modify?')" type="submit" name="action">
                    Save
                </button>
            </div>
            <div class="col s2">
                <a class="btn waves-effect waves-light" onclick="history.back()">Back</a>
            </div>
        </div>
    </div>
}
