
@{
    Layout = null;
}

<!DOCTYPE html>
<ul id="slide-out" class="sidenav sidenav-fixed collapsible">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Home</a>
            </li>

            <li>
                <a class="collapsible-header">System Setup</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="@Url.Action("UserMaintenance", "SystemSetup")">User Maintenance</a></li>
                        <li><a href="@Url.Action("RoleMaintenance", "SystemSetup")">Role Maintenance</a></li>
                        <li><a href="#!">Menu Maintenance</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header">System Operation</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!"></a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header">Profile</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="@Url.Action("ChangePassword", "Profile")">Change Password</a></li>
                        <li><a href="@Url.Action("LogOut", "Profile")">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>
