@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "_layout";
}

<ul id="slide-out" class="sidenav sidenav-fixed collapsible">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Home</a>
            </li>

            <li>
                <a class="collapsible-header">System Setup</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">User Maintenance</a></li>
                        <li><a href="#!">Role Maintenance</a></li>
                        <li><a href="#!">Menu Maintenance</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header">System Operation</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!"></a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header">Profile</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">Change Password</a></li>
                        <li><a href="#!">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

