
@{
    Layout = null;
}

<!DOCTYPE html>
<ul id="slide-out" class="sidenav sidenav-fixed collapsible">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            @if (Session["mainMenu"] != null)
            {
                var MainMenu = (List<Homework2.Models.Menu>) Session["mainMenu"];
                var SubMenu = (List<Homework2.Models.Menu>) Session["subMenu"];

                foreach (var Main in MainMenu)
                {
                    <li>
                        <a class="collapsible-header">@Main.title</a>
                        <div class="collapsible-body">
                            <ul>
                                @foreach (var Sub in SubMenu)
                                {
                                    if (Sub.menuNo.Contains(Main.menuNo) && Main.level != 0)
                                    {
                                        <li><a href="@Sub.linkUrl">@Sub.title</a></li>
                                    }
                                }
                            </ul>                            
                        </div>                        
                    </li>
                }
            }
        </ul>
    </li>
</ul>
