
@{
    Layout = null;
}

<ul id="nav-mobile" class="sidenav sidenav-fixed">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            @if (Session["mainMenu"] != null)
            {
                var MainMenu = (List<Homework2.Models.Menu>)Session["mainMenu"];
                var SubMenu = (List<Homework2.Models.Menu>)Session["subMenu"];

                foreach (var Main in MainMenu)
                {
                    if (Main.status ==  true)
                    {
                    <li>
                        <a class="collapsible-header">@Main.title</a>
                        @if (Main.level != 0)
                        {
                        <div class="collapsible-body">
                            <ul>
                                @foreach (var Sub in SubMenu)
                                {
                                    if (Sub.status == true)
                                    {
                                        if (Sub.menuNo.Contains(Main.menuNo))
                                        {
                                        <li><a href="@Sub.linkUrl">@Sub.title</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                        }
                    </li>
                    }
                }
            }
        </ul>
    </li>
</ul>
