@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Profile/Index");
    }
}

@section stylesheet
{
    <link rel="stylesheet" href="~/Static/css/sidenavfixed.css" />
}

@section navBar {
    @{Html.RenderPartial("_Navbar");}
}

@section sidenav {
    @{Html.RenderPartial("_SideNav");}
}

<h3>Welcome @Session["username"]</h3>

<div class="row">
    @if (Model?.home1 != null)
    {
        @Html.Raw(WebUtility.HtmlDecode(Model.home1))
    }
</div>